<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    {% for blog in blogs %}
        <h2>{{ blog.title }}</h2>
        <hr>
        <p>{{ blog.text }}</p>
        <br>
        <a href="{% url 'update_blog' blog.id %}">Update Blog</a>
        <a href="{% url 'delete_blog' blog.id %}">Delete Blog</a>
        <br><br>
    {% endfor %}
    <a href="{% url 'create_blog' %}">Create Blog</a>
</body>
</html>
